<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wassertemperatur - Freibad Marienhöhe Nördlingen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" />
        <link rel="stylesheet" href="/public/Style/Style.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    </head>
    <body>
        <header id="header">
            <div class="inner">
                <h1>Wassertemperatur Freibad Marienhöhe</h1>
            </div>
        </header>

        <section class="temperatures">
            {{#if Swimmer}}
            <div class="content pure-g">
                {{#if Swimmer.Current}}
                <div class="temperature pure-u-1-3">
                    <h2>Aktuell</h2>
                    <p>
                        <span class="value">
                            {{Swimmer.Current}} °C
                        </span>
                    </p>
                </div>
                {{/if}}
                {{#if Swimmer.TodayAverage}}
                <div class="temperature pure-u-1-3">
                    <h2>Ø Heute</h2>
                    <p>
                        <span class="value">
                            {{Swimmer.TodayAverage}} °C
                        </span>
                    </p>
                </div>
                {{/if}}
                {{#if Swimmer.YesterdayAverage}}
                <div class="temperature pure-u-1-3">
                    <h2>Ø Gestern</h2>
                    <p>
                        <span class="value">
                            {{Swimmer.YesterdayAverage}} °C
                        </span>
                    </p>
                </div>
                {{/if}}
            </div>
            {{/if}}
        </section>
    </body>
</html>